body{
  background-image: url("/assets/samples/7URYbL0 2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Josefin Slab', serif;
  font-size: 60px;
}

h1{
  font-size: 60px;
  padding-top: 15px;
  color: lemonchiffon;
}

h2 {
  color: lemonchiffon;
  padding-top: 20px;
}

html{
  text-align: center;
}

#keyboard {
    border-left: 1px solid #000000;
    margin: auto;
    width: 392px;
    height: 151px;
    padding-top: 20px;
}

.buttonWrapper {
    margin: 20px;
    clear: both;
}

#upper,
#lower
{
    clear: both;
}

.key {
    float: left;
}

.blackkey {
    width: 30px;
    height: 100px;
    background-color: #000000;
}

.whitekey:hover {
    cursor: pointer;
}

.whitekey {
    background-color: RGBA(255, 255, 255, .75);
    border-right: 1px solid #000000;
}

#upper .whitekey {
    width:40px;
    height: 100px;
    border-top: 1px solid #000000;
}

#lower .whitekey {
    border-bottom: 1px solid #000000;
    width: 55px;
    height: 30px;
    padding: 20px 0 0 0;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

#upper .middle,
#lower .middle {
    width: 25px;
}

.highlighted {
    background-color: rgba(0, 25, 156, 0.58);
}

.buttonLabel {
    /*float: left;*/
}

.playicon {
    float: left;
    margin: 2px 0 2px 2px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid #1fff21;
}



button{
  font-size: 15px;
  width: 100px;
  border-radius: 50%;
  background-color: RGBA(255, 255, 255, .50);
  border: 5px solid RGBA(255, 255, 255, .50);
  transition-duration: 0.4s;
}

button:hover {
    background-color: #9e2d2d;
    color: white;
}

#noHistoryMessage {
    margin: 20px;
    color: #b06a6a;
    padding-top: 150px;
}
